<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css"/>
    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app ng-cloak>
    <h1>Hello Fizzbuzzer</h1>
    <div id="div1" class="well row" ng-init="buzzer = 0">
      <button id="plus-btn" class="btn" ng-click="buzzer = buzzer +1">+</button>
      <button id="minus-btn" class="btn" ng-click="buzzer = buzzer -1">-</button>
      {{ buzzer }}
        <span ng-show="buzzer % 3 === 0 && buzzer !== 0">Fizz</span>
        <span ng-hide="buzzer % 5 !== 0 || buzzer == 0">Buzz</span>
    </div>
  </body>
</html>
